<div ng-if="!NotFound">
    <div class="col-md-6 pull-left topPad bottomPad">
        <h3>Site Information</h3>
        <!--site number-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Site Number:</label></div>
            <div class="col-md-7"><span>{{aSite.site_no || '---'}}</span></div>
        </div>
        <!--site description-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Site Description:</label></div>
            <div class="col-md-7"><span>{{aSite.site_description || '---'}}</span></div>
        </div>
        <!--Latitude-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Latitude:</label></div>
            <div class="col-md-7"><span>{{aSite.latitude_dd || '---'}}</span></div>
        </div>
        <!--Longitude-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Longitude:</label></div>
            <div class="col-md-7"><span>{{aSite.longitude_dd || '---'}}</span></div>
        </div>
        <!--Horizontal Datum-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Horizontal Datum:</label></div>
            <div class="col-md-7"><span>{{aSite.HorizontalDatum || '---'}}</span></div>
        </div>
        <!--Horizontal Collection Method-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Horizontal Collection Method:</label></div>
            <div class="col-md-7"><span>{{aSite.HorizontalCollectMethod || '---'}}</span></div>
        </div>
        <!--Address-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Address:</label></div>
            <div class="col-md-7"><span>{{aSite.address || "---"}}</span></div>
        </div>
        <!--City-->
        <div class="col-md-12">
            <div class="col-md-4"><label>City:</label></div>
            <div class="col-md-7"><span>{{aSite.city || "---"}}</span></div>

        </div>
        <!--State-->
        <div class="col-md-12">
            <div class="col-md-4"><label>State:</label></div>
            <div class="col-md-7"><span>{{aSite.state || "---"}}</span></div>
        </div>
        <!--Zip-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Zip:</label></div>
            <div class="col-md-7"><span>{{aSite.zip || "---"}}</span></div>
        </div>
        <!--County-->
        <div class="col-md-12">
            <div class="col-md-4"><label>County:</label></div>
            <div class="col-md-7"><span>{{aSite.county || "---"}}</span></div>
        </div>
        <!--Waterbody-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Waterbody:</label></div>
            <div class="col-md-7"><span>{{aSite.waterbody || '---'}}</span></div>
        </div>
        <!--Drainage Area-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Drainage Area (sq mi):</label></div>
            <div class="col-md-7"><span>{{aSite.drainage_area_sqmi || "---"}}</span></div>
        </div>
        <!--Station ID for USGS gage-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Station ID for USGS gage:</label></div>
            <div class="col-md-7"><span>{{aSite.usgs_sid || "---"}}</span></div>
        </div>
        <!--Station ID for NOAA gage-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Station ID for NOAA gage:</label></div>
            <div class="col-md-7"><span>{{aSite.noaa_sid || "---"}}</span></div>
        </div>
        <!--Other Station ID-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Other Station ID:</label></div>
            <div class="col-md-7"><span>{{aSite.other_sid || "---"}}</span></div>
        </div>

        <br clear="all" />
        <!-- Peaks -->
        <div class="col-md-12 topPad">
            <h3>Peak Summaries for Site {{aSite.site_no}}</h3>
            <table ng-if="peaks !== undefined && peaks.length > 0" class="col-md-6 table table-condensed">
                <thead>
                    <tr>
                        <th>Elevation (ft)</th>
                        <th>Date/Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in peaks">
                        <td>{{p.peak_stage}}</td>
                        <td>{{p.peak_date | date: 'MM/dd/yyyy HH:mm a'}}</td>
                        <td>{{p.event_name}}</td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="peaks == undefined || peaks.length == 0">No peak summaries for this Site.</div>
        </div>

        <br clear="all" />
        <h3 class="topPad">HWM Information</h3>
        <!--provisional or approved-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Provisional or Approved:</label></div>
            <div class="col-md-7"><span>{{aHWM.approval_id !== undefined ? 'Approved' : 'Provisional'}}</span></div>
        </div>
        <!--event-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Event:</label></div>
            <div class="col-md-7"><span>{{aHWM.eventName || '---'}}</span></div>
        </div>
        <!--HWM Type-->
        <div class="col-md-12">
            <div class="col-md-4"><label>HWM Type:</label></div>
            <div class="col-md-7"><span>{{aHWM.hwmType || '---'}}</span></div>
        </div>
        <!--Marker-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Marker:</label></div>
            <div class="col-md-7"><span>{{aHWM.markerName || '---'}}</span></div>
        </div>
        <!--HWM Environment-->
        <div class="col-md-12">
            <div class="col-md-4"><label>HWM Environment:</label></div>
            <div class="col-md-7"><span>{{aHWM.hwm_environment || '---'}}</span></div>
        </div>
        <!--HWM Quality-->
        <div class="col-md-12">
            <div class="col-md-4"><label>HWM Quality:</label></div>
            <div class="col-md-7"><span>{{aHWM.hwmQuality || '---'}}</span></div>
        </div>
        <!--Bank-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Bank:</label></div>
            <div class="col-md-7"><span>{{aHWM.bank || '---'}}</span></div>
        </div>
        <!--Location Description-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Location Description:</label></div>
            <div class="col-md-7"><span>{{aHWM.hwm_locationdescription || "---"}}</span></div>
        </div>
        <!--Latitude-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Latitude:</label></div>
            <div class="col-md-7"><span>{{aHWM.latitude_dd || "---"}}</span></div>

        </div>
        <!--Longitude-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Longitude:</label></div>
            <div class="col-md-7"><span>{{aHWM.longitude_dd || "---"}}</span></div>
        </div>
        <!--Horizontal Datum-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Horizontal Datum:</label></div>
            <div class="col-md-7"><span>{{aHWM.hDatum || "---"}}</span></div>
        </div>
        <!--Horizontal Collection Method-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Horizontal Collection Method:</label></div>
            <div class="col-md-7"><span>{{aHWM.hCollectMethod || "---"}}</span></div>
        </div>
        <!--Height above ground-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Height above ground:</label></div>
            <div class="col-md-7"><span>{{aHWM.height_above_gnd || '---'}}</span></div>
        </div>
        <!--Flag/Found Date-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Flag/Found Date:</label></div>
            <div class="col-md-7"><span>{{(aHWM.flag_date | date: 'MM/dd/yyyy') || "---"}}</span></div>
        </div>
        <!--Surveyed Date-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Surveyed Date:</label></div>
            <div class="col-md-7"><span>{{(aHWM.survey_date | date: 'MM/dd/yyyy') || "---"}}</span></div>
        </div>
        <!--Surveyed Elevation-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Surveyed Elevation:</label></div>
            <div class="col-md-7"><span>{{aHWM.elev_ft || "---"}}</span></div>
        </div>
        <!--Vertical Datum-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Vertical Datum:</label></div>
            <div class="col-md-7"><span>{{aHWM.vDatum || "---"}}</span></div>
        </div>
        <!--Vertical Collection Method-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Vertical Collection Method:</label></div>
            <div class="col-md-7"><span>{{aHWM.vCollectMethod || "---"}}</span></div>
        </div>
        <!--Uncertainty-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Uncertainty:</label></div>
            <div class="col-md-7"><span>{{aHWM.uncertainty || "---"}}</span></div>
        </div>
        <!--Notes-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Notes:</label></div>
            <div class="col-md-7"><span>{{aHWM.hwm_notes || "---"}}</span></div>
        </div>
        <!--Tranquil/Stillwater HWM-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Tranquil/Stillwater HWM:</label></div>
            <div class="col-md-7"><span>{{aHWM.stillwater || "---"}}</span></div>
        </div>
        <!--Flagging Member-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Flagging Member:</label></div>
            <div class="col-md-7"><span>{{aHWM.flagMember || "---"}}</span></div>
        </div>
        <!--Survey Member-->
        <div class="col-md-12">
            <div class="col-md-4"><label>Survey Member:</label></div>
            <div class="col-md-7"><span>{{aHWM.surveyMember || "---"}}</span></div>
        </div>
        <br clear="all" />


    </div> <!-- end col-md-6 left-->

    <!-- files -->
    <div class="col-md-6 pull-right topPad bottomPad">
        <h3>HWM Files</h3>
        <!-- list of existing photo files for this hwm -->
        <div class="col-md-12" ng-if="imageFiles.length > 0">
            <span ng-repeat="f in imageFiles">
                <ul style="padding-left: 0">
                    <li style="list-style:none;padding-bottom: 15px;">
                        <a target="_blank" title="Download File" ng-href="{{serverURL}}/Files/{{f.file_id}}/Item">
                            Photo of {{f.description || '[Description left blank]'}} at {{aSite.site_description}}, {{aSite.county}}, {{aSite.state}}, {{f.file_date | date: 'MM/dd/yyyy'}}. Photograph by {{f.source.source_name}}, {{f.source.sourceAgency}}.
                        </a>
                        <div style="width:100px;height:100px">
                            <img ng-src="{{serverURL}}/Files/{{f.file_id}}/Item" />
                        </div>
                    </li>
                </ul>
            </span>
        </div> <!-- end if photo files-->
        <div class="col-md-12" ng-if="imageFiles.length == 0">
            No photo files were uploaded for this HWM.
        </div><!-- no photo files-->
        <br clear="all" />

    </div><!-- end col-md-6 right-->
</div>

<div ng-if="NotFound">
    <div class="topPad"><h3>There was an error retrieving this HWM. Please try again from the map, or contact .... for assistance.</h3></div>
</div>